include *.txt
include LICENSE
recursive-include Visor *.css
recursive-include Visor *.html
recursive-include Visor *.ico
recursive-include Visor *.js
recursive-include Visor *.json
recursive-include src *.py
recursive-include src *.yml
